:root{
  --clr-text: #5a5a5a;
  --clr-primary: #067E0A;
  --clr-accent: #764981;

  --ff-title: 'PT Sans Narrow', sans-serif;;
  --ff-serif: 'Crimson Pro', serif;
  --ff-logo: 'betterfly', sans-serif;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-family: var(--ff-serif);
  color: var(--clr-text);
}